@mixin position($pos){
    position:$pos;
    top:50px;
}

@mixin tabletMQ {
  // "screen" keyword here is an explicit way to just target 
  // computer screens, tablets, smart-phones etc.
  @media screen and (max-width: 1023px) {
    // @content is a SCSS placeholder which represents the 
    // css code we will write when we use this mixin.
    @content;
  }
}
@mixin mobileMQ {
  @media screen and (max-width: 640px) {
    @content;
  }
}
// Using these mixins:
h1 {
  font-size: 40px;
  @include tabletMQ{
    font-size: 30px;
  }
  @include mobileMQ{
    font-size: 20px;
  }
}