@import "setup";
@import "mixins";
@import"variables";
@import "navigation";
@import "footer";


$primaryColor:steelblue;
$desktopFont:45px;
$mainHeadingFont:25px;

body{
    font-size: 62.5%;
    
    @include tableMQ{
        background: blue;
    }

    @include mobileMQ{
        background: red;
    }

}
nav{
    @include position(relative);
}