.home header {
    height: 80vh;
    background-image: url(../../assets/home-header.jpg);
    background-size:cover;
   
}
.home .headerContent{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: 0;
    position: relative;
    
   
    h1{ 
        width: 50%;
        color: $yellow;
        align-self: center;
        margin-left: 5vw;
        margin-top: 20%;
     
    }

    .headerImage {
        width: 50%;
        position: absolute;
        top:150px;
        right: 0;
    }
} 

.home .section1 .parent{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;

        ul {
            width: 50%;
            margin: 0;
            border: 1px solid black;
            padding: 0;

            li {
                list-style: none;

               
            }
        }
}

 .home .section1 .icon {
    display: flex;
    height: 80px;
    align-items: center;

    i{
        width: 10%;
        
        

    }

    h2 {
        width: 90%;
        margin: 0;
        
    }
                    
}