
.home h2,
.home h3,
.home button {
    color: $darkBlue;
}

.home header {
    height: 80vh;
    background-image: url(../assets/home-header.jpg);
    background-size:contain;
    background-repeat: no-repeat;
   
}
.home .headerContent{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: 0;
    position: relative;
    
   
    h1{ 
        width: 50%;
        color: $yellow;
        align-self: center;
        margin-left: 5vw;
        margin-top: 20%;
     
    }

    .headerImage {
        width: 50%;
        position: absolute;
        top:150px;
        right: 0;
    }
} 

.home .section1 .parent{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15%;
    padding-bottom: 10%;

        ul {
            width: 50%;
            margin: 0;
            border: 1px solid black;
            padding: 0;

            li {
                list-style: none;

               
            }
        }
}

 .home .section1 .icon {
    display: flex;
    height: 80px;
    align-items: center;

   

    h2 {
        width: 90%;
        margin: 0 0 0 10px;

        
    }
                    
}

.home .section2 {
    background-color: $darkBlue;
    margin: 5% 0 10% 0;
    display: flex;
    justify-content: space-between;
   
    height: 90vh;

    h3, p{
        color: $white;
    }
    

        .locations {
            width: 40%;
            text-align: right;
            position: relative;
            border: 1px solid red;
            display: flex;
            align-items: flex-end;

            img {
                box-shadow: 20px 20px $yellow;
                position: absolute;
                top: -50px;
                left: 0;
            }

            .locationsText  {
                // position: absolute;
                // bottom: 0;
                // left: 10px;
                margin-bottom: 5%;
                margin-left: 5vw;
             
                

                h3, p {
                    margin: 0 auto 20px auto;
        
                }

                p {
                    text-align: justify;
                }
            }
            
        }

        .programs{
            width: 40%;
            text-align: left;
            position: relative;
            display: flex;
            align-items:flex-start;

            .programsText {
                margin-right: 5vw;
            }

            img {
                box-shadow: -20px 20px $yellow;
                position: absolute;
                bottom: -35px;
                right: 0;
            }

            p {
                text-align: justify;
            }

            button {
                margin-bottom: 5%;
            }
           
        }
}

.home .section3 {
    text-align: center;
    p{
        width: 70%;
        margin:0 auto 30px auto;
    }

    button {
        margin-bottom: 10%;
    }
}

.home .section4 .wrapper {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin: 5% auto;
    

    .image {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            box-shadow: -15px 15px $yellow;
        //     align-self: center;
        //     justify-content: center;
        // }

    }

    .text {
        width: 60%;

        h2, p{
            margin: 0 auto;
        }
    }


}
