@import "setup";
@import "variables";
@import "fonts";
@import "blog";
@import "contact";
@import "footer";
@import "home";
@import "mixins";
@import "navigation";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



html {
    font-size: 62.5%;
    
}
body{
    background-color: $darkBlue;
}

.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

