@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 7.9rem;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 4.5rem;
  font-family: "IM Fell English", serif;
  line-height: 9.98rem;
  text-transform: uppercase;
}

h3 {
  font-size: 4rem;
  font-family: "IM Fell English", serif;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5rem;
  font-family: "IM Fell English", serif;
  line-height: 5.8rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 2.8rem;
  letter-spacing: 1px;
}

button {
  font-family: "IM Fell English", serif;
  font-size: 2.24rem;
  line-height: 4.16rem;
  text-transform: uppercase;
}

.blog header {
  height: 30vh;
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
}

.blog header h1 {
  color: #ffffff;
}

.blog section {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog section .sideBar {
  width: 40%;
}

.blog section .sideText {
  background: #0D457F;
  width: 70%;
  height: auto;
  position: relative;
  margin-left: 5vw;
  padding-top: 380px;
}

.blog section .sideText h4 {
  color: #fdd908;
  margin: 60px 0 0 25px;
}

.blog section .sideText p {
  color: #ffffff;
  margin: 10px 0 0 25px;
}

.blog section .sideText ul {
  padding-bottom: 30px;
}

.blog section .sideText li {
  list-style-type: disc;
  list-style-position: outside;
  color: #ffffff;
  font-size: 1.5em;
  text-indent: 16px;
}

.blog section .sideText li p {
  margin: 5px;
}

.blog .sideText img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: -5vw;
  top: -20px;
  z-index: 10;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog section .blogMain {
  width: 60%;
}

.home h2,
.home h3,
.home button {
  color: #0D457F;
}

.home header {
  height: 80vh;
  background-image: url(../assets/home-header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.home .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid red;
  margin: 0;
  position: relative;
}

.home .headerContent h1 {
  width: 50%;
  color: #fdd908;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5vw;
  margin-top: 20%;
}

.home .headerContent .headerImage {
  width: 50%;
  position: absolute;
  top: 150px;
  right: 0;
}

.home .section1 .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15%;
  padding-bottom: 10%;
}

.home .section1 .parent ul {
  width: 50%;
  margin: 0;
  border: 1px solid black;
  padding: 0;
}

.home .section1 .parent ul li {
  list-style: none;
}

.home .section1 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .section1 .icon h2 {
  width: 90%;
  margin: 0 0 0 10px;
}

.home .section2 {
  background-color: #0D457F;
  margin: 5% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}

.home .section2 h3, .home .section2 p {
  color: #ffffff;
}

.home .section2 .locations {
  width: 40%;
  text-align: right;
  position: relative;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .section2 .locations img {
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: absolute;
  top: -50px;
  left: 0;
}

.home .section2 .locations .locationsText {
  margin-bottom: 5%;
  margin-left: 5vw;
}

.home .section2 .locations .locationsText h3, .home .section2 .locations .locationsText p {
  margin: 0 auto 20px auto;
}

.home .section2 .locations .locationsText p {
  text-align: justify;
}

.home .section2 .programs {
  width: 40%;
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .section2 .programs .programsText {
  margin-right: 5vw;
}

.home .section2 .programs img {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  position: absolute;
  bottom: -35px;
  right: 0;
}

.home .section2 .programs p {
  text-align: justify;
}

.home .section2 .programs button {
  margin-bottom: 5%;
}

.home .section3 {
  text-align: center;
}

.home .section3 p {
  width: 70%;
  margin: 0 auto 30px auto;
}

.home .section3 button {
  margin-bottom: 10%;
}

.home .section4 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
  margin: 5% auto;
}

.home .section4 .wrapper .image {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .section4 .wrapper .image img {
  -webkit-box-shadow: -15px 15px #fdd908;
          box-shadow: -15px 15px #fdd908;
  width: 70%;
}

.home .section4 .wrapper .text {
  width: 60%;
}

.home .section4 .wrapper .text h2, .home .section4 .wrapper .text p {
  margin: 0 auto;
}

.home .section5 {
  height: 70vh;
  background-color: #0D457F;
  padding: 5% auto;
}

.home .section5 ul {
  padding: 7% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .section5 ul li {
  width: calc((100% / 3) - 15px);
}

nav label[for="toggle"] {
  display: none;
}

nav input[type="checkbox"] {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3%;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 10px;
}

nav ul li a:hover,
nav ul li a:focus-within {
  text-decoration: underline;
  -webkit-text-decoration-color: #fdd908;
          text-decoration-color: #fdd908;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-skip: 2px;
          text-decoration-skip: 2px;
  text-underline-offset: 10px;
}

@media screen and (max-width: 500px) {
  nav label[for="toggle"] {
    display: inline-block;
    font-size: 35px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10;
  }
  nav ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 10px;
    margin-left: 40px;
    position: absolute;
    top: -30%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    font-size: 1.5rem;
    padding: 15px;
  }
  nav input[type="checkbox"]:checked + ul {
    top: 0;
  }
  nav label[for="toggle"]:hover {
    color: #fdd908;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parent {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
}

button {
  background-color: #fdd908;
  border: 2px solid transparent;
  padding: 10px 15px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

button:hover,
button:focus {
  background-color: rgba(253, 217, 8, 0.6);
  border: 2px solid #fdd908;
}

.first i,
.second i {
  color: #0D457F;
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: #fdd908;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

footer {
  height: 5%;
  background-color: #fdd908;
  color: #0D457F;
  margin: 0;
  text-align: center;
}

footer p {
  margin: 5px auto;
}
